<h1>Menus</h1>

<% @menus.each do |menu| %>
  <%= link_to menu.title, menu_path(menu) %><br>
  <%= menu.text %>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_menu_path(menu) %> | <%= link_to 'Delete', menu_path(menu), method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New menu', new_menu_path %>
<% end %>
